{% extends "network/layout.html" %}

{% block body %}
<center>
<br>
    <h1>Make New Post</h1>
    <form action="{% url 'new_post' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ post_form }}
        <input type="submit" value="Post">
    </form>
    <div>
        {% for post in posts %}
        <a href="/user_profile/{{post.user_post.id}}">@{{ post.user_post }}</a><br> 
        {{ post.post_text }} <br>{{ post.date_posted }}<br> 
        <form action="{% url 'add_like' post_id=post.id %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="submit" value="Like"> {{ post.number_of_likes }}<br><br>
        </form>
        {% endfor %}
    </div>
</center>
{% endblock %}